.main{
    background : #F0F0F0;
    height: 636px;
    /*width: 100%;*/
    width: 603px;
    position: absolute;
    top: 145px;
    margin: 0 auto;
    right: 0;
    left: 0;
    /*border: 2px solid red;*/
    border-radius: 20px;
}

.mainBlock{
    display: flex;
}
.nameAndDescBlock{
    width: 50%;
    height: 100%;
    margin-left: 11%;
}
.addImageHidden{
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    margin-top: 4px;
}
.save,.cancel{
    width: 202px;
    height: 100%;
    border-radius: 18px;
    font-size: 34px;
    color: #9E9E9E;
    border: none;
    outline: none;
    transition-property: background-color,color;
    transition-duration: 0.6s;
}
.save:hover,.cancel:hover{
    color: white;
}
.save{
    background: #CDFFE1;
}
.save:hover{
    background: rgba(92, 241, 152, 1);
}
.cancel{
    background: #FFC7C7;
    margin-left: 11%;
}
.cancel:hover{
    background: rgba(249, 156, 156, 1);
}
.saveOrCancelBlock{
    width: 500px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.addImageTitle{
    font-weight: normal;
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%,-50%);
}
.addImageButton{
    color: #747474;
    border-radius: 15px;
    background: #DBDBDB;
    overflow: hidden;
    position: relative;
    height: 43px;
    margin: 0 auto;
    margin-top: 15px;
    width: 180px;
    transition-property: background-color,color;
    transition-duration: 0.6s;
}
.addImageButton:hover{
    background: rgba(174, 174, 174, 1);
    color: white;
}
.userImage{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.imageBlock{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2Name{
    font-size: 45px;
    color: #4B4B4B;
    font-weight: normal;
    margin-bottom: 28px;
    margin: 0;

}
.fullName{
    border: none;
    width: 100%;
    height: 66px;
    border-bottom: 5px solid #C7C7C7;
    outline: none;
    font-size: 30px;
    color: rgba(112, 112, 112, 1);
    background : #F0F0F0;
}
.fullName::placeholder{
    font-size: 30px;
    color: #C7C7C7;
}
.deskArea{
    resize: none;
    height: 70px;
}
.deskArea::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.deskArea { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.deskArea { overflow: -moz-scrollbars-none; }
.contacts{
    color: black;
    font-size: 35px;
}
.error{
    color : red;
    font-size: 20px;
}
.edit,.animateMain{
    width: 79%;
    height: 750px;
    border-radius: 20px;
    background: white;
    animation-name: open;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 200px;
    left: 0;
    right: 0;
}
.animateMain{
    animation-name: close;
    animation-duration: 1.4s;
}

@keyframes open{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(0.7);
    }
}

@keyframes close{
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(0);
    }
}
.title{
    color: #4F4F4F;
    font-size: 60px;
    text-align: center;
    font-weight: normal;
}
.roomEdit{
    color : #4F4F4F;
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    font-weight: normal;
}
.globalError{
    text-align: center;
    color : #B63737;

    font-size: 25px;
    display: block;
    margin: 0 auto;
}
